body{
    background-color: #d3d3d329;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: #353535;
}
.button.primary {
    color: #fff5f5;
    font-weight: bold;
    text-shadow: 0px 0px 5px #0000006e;

}
.button.primary:focus, .button.primary:hover{
    color: #fff5f5;
}

.question-container{
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px black;
    padding: 50px;
    margin: 10px 50px;
    background-color: white;
    box-shadow: 0px 2px 3px #0000006e;
    border-radius: 5px;
}
@media screen and (min-width: 920px) {
    .question-container{
        width: 920px;
    }
}
@media screen and (max-width: 920px) {
    .question-container{
        width: 98%;
    }
}
